body {
    font-family: futura, sans-serif;
    background-color: #dfdfc4;
    color: #454034;
}

.hidden {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

header img {
    width: 200px;
}

.header-brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 2.5rem;
}

.tagline {
    font-size: 1.2rem;
}

#main-nav {
    margin-bottom: 3rem;
}

nav {
    display: none;
}

nav.open {
    display: block;
}



/*
THEME TOGGLE, default is light mode, so this is to turn dark mode on.
*/
body.dark {
    background-color: #111111;
    color: #aca66a;
}

/*Hover over show in dark mode changed to light, kind of like a glow effect*/
body.dark .movie-card:hover {
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

/*
display grid instead of vertical list
*/
#movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

/*
Each card to stack content inside
Also make the cards zoom in effect when hovering over with the mouse
*/
.movie-card {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
}

.movie-card p {
    margin: 0;
    padding: 0 0.5rem;
}

.movie-card h3 {
    margin: 0;
    padding: 0.5rem 0.5rem 0;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.movie-card img {
    width: 100%;
    height: 300;
    object-fit: cover;
}

/*
FOOTER CONTENT
*/
footer {
    text-align: center;
    font-family: monospace;
}