#course-title {
    display: block;
    text-align: center;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #333;
    gap: 10%;
    padding: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}

nav a:hover {
    background-color: white;
    color: #333;
    border-radius: 5px;
}

/* F O N T S */
body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
}

h1 {
    font-weight: auto;
}

main {
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

main img {
    width: 70%;
    height: auto;
}