header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgb(182, 251, 255);
    padding: 1rem;
}

h1 {
    margin: 0;
}

/* Google Fonts: Garamond serif */

body {
    font-family: "Elms Sans", sans-serif;
}

nav {
    display: none;
    gap: 1rem;
    flex-direction: column;
}

/*Styling the menu hover over with pointer*/
nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
}

nav.open {
    display: flex;
}

nav a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(78, 139, 160);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

#menu-button {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

figure {
    margin: auto;
    font-family: "Elms Sans", sans-serif;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(182, 251, 255);
    padding: 1rem;
}