body {
    font-family: "Ubuntu Mono", monospace;
}

/* Mobile view */
main {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: rgb(22, 136, 202);
    text-align: center;
    padding: 1rem;
}

header h1 {
    color: aliceblue;
    margin: 0;
}

.hero {
  position: relative;
}

.hero img {
    /*width: 100%;*/
    display: block;
    margin: auto;
}

.cards {
    position: static;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    text-align: center;
}

.data, .weather {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 20px;
}

.data h2, .weather h2 {
    background-color: rgb(154, 152, 29);
    color: aliceblue;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0;
}

.data p, .weather p {
    padding: 0.5rem 1rem;
}

.weather img {
    display: block;
    margin: auto;
}

.weather .emoji {
    display: none;
}

footer {
    background-color: rgb(22, 136, 202);
    text-align: center;
    padding: 1rem;
    color: #ffffff;
}

.copyright {
    font-size: 2rem;
}

 /*
  W I D E   V I E W
 */

@media (min-width: 768px) {
    .cards {
        position: absolute;
        bottom: 150px;
        left: 150px;
        right: 150px;
        flex-direction: row;
        justify-content: space-between;
    }

    .weather img {
        display: none;
    }
    .weather .emoji {
        display: inline;
    }
}
