
/* Google Fonts: Ubuntu Mono (I like monospace fonts) */

body {
    font-family: "Ubuntu Moono", monospace;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Styling the menu hover over with pointer*/
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

nav a:hover {
    color: white;
    background-color: rgb(80, 128, 177);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}