@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}